@charset "utf-8";
.loginBox{
	max-width: 330px;
	margin: 2rem auto 0;
	box-sizing: border-box;
	padding: 15px;
}
.loginBox .loginHeader{
	width: 100%;
	padding: 0.5rem 0;
	font-size: 1rem;
	color: #fff;
	border: 1px solid #357ebd;
	text-align: center;
	background: #428bca;
	border-radius: 5px;
	margin-bottom: 10px;
	box-sizing: border-box;
}
.loginBox .loginError{
	width: 100%;
	padding: 0.4rem 0;
	text-align: center;
	color: #666;
	border: 1px solid #ccc;
	margin-bottom: 10px;
	border-radius: 2px;
	box-sizing: border-box;
}
.loginBox .loginError span{
	color: #f00;
}
.loginBox .loginForm label{
	display: none;
}
.loginBox .loginForm input{
	width: 100%;
	height: 40px;
	margin-bottom: 10px;
	border-radius: 3px;
	padding-left: 3px;
	border: 1px solid #ccc;
	box-sizing: border-box;
	padding-left: 10px;
}
.loginBox .loginForm .loginSubmit{
	display: block;
	width: 100px;
	height: 34px;
	text-align: center;
	line-height: 34px;
	color: #fff;
	background: #fd6a6f;
	border-bottom: 3px solid #fd5056;
	border-radius: 4px;
	cursor: pointer;
}
.loginBox .loginForm .loginSubmit:hover{
	background: #ff5a5f;
	border-bottom: 3px solid #fb4b50;
}
