.success, .fail{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #fff;
	font-size: 5rem;
	text-align: center;
}
.success p, .fail p{
	margin-top: 40rem;
}